___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise - Solutions

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [6]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [7]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [8]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [9]:
sal.info() # 148654 Entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [10]:
sal['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [11]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [12]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [13]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [14]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()] #['EmployeeName']
# or
# sal.loc[sal['TotalPayBenefits'].idxmax()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [15]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()] #['EmployeeName']
# or
# sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

## ITS NEGATIVE!! VERY STRANGE

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [19]:
sal.groupby(['JobTitle','Agency','Year'])['BasePay'].mean()

JobTitle                                            Agency         Year
ACCOUNT CLERK                                       San Francisco  2011     43300.806506
ACCOUNTANT                                          San Francisco  2011     46643.172000
ACCOUNTANT INTERN                                   San Francisco  2011     28732.663958
ACPO,JuvP, Juv Prob (SFERS)                         San Francisco  2014     62290.780000
ACUPUNCTURIST                                       San Francisco  2011     66374.400000
ADMINISTRATIVE ANALYST                              San Francisco  2011     63435.628602
ADMINISTRATIVE ANALYST II                           San Francisco  2011     59373.710000
ADMINISTRATIVE ANALYST III                          San Francisco  2011     92698.515000
ADMINISTRATIVE ENGINEER                             San Francisco  2011    120913.161000
ADMINISTRATIVE SERVICES MANAGER                     San Francisco  2011     75555.033333
ADMINISTRATOR, SFGH MEDICAL CENTER                  San Francisco  2011    245124.440000
AFFIRMATIVE ACTION SPECIALIST                       San Francisco  2011     68177.316667
AGRICULTURAL INSPECTOR                              San Francisco  2011     53274.100000
AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI  San Francisco  2011      1927.500000
AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS       San Francisco  2011     15420.000000
AIRPORT COMMUNICATIONS OPERATOR                     San Francisco  2011     67643.142593
AIRPORT COMMUNICATIONS SUPERVISOR                   San Francisco  2011     86585.825000
AIRPORT ECONOMIC PLANNER                            San Francisco  2011    108145.590769
AIRPORT ELECTRICIAN                                 San Francisco  2011     95488.671765
AIRPORT ELECTRICIAN SUPERVISOR                      San Francisco  2011    104203.725000
AIRPORT EMERGENCY PLANNING COORDINATOR              San Francisco  2011     75865.935000
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR           San Francisco  2011    118978.520000
AIRPORT NOISE ABATEMENT SPECIALIST                  San Francisco  2011     49108.725000
AIRPORT OPERATIONS SUPERVISOR                       San Francisco  2011     84760.671667
AIRPORT POLICE SERVICES AIDE                        San Francisco  2011     51178.742834
AIRPORT PROPERTY SPECIALIST I                       San Francisco  2011     76531.885385
AIRPORT SAFETY OFFICER                              San Francisco  2011     66613.333000
ANESTHETIST                                         San Francisco  2011    104138.844000
ANIMAL CARE ASSISTANT SUPERVISOR                    San Francisco  2011     55018.510000
ANIMAL CARE ATTENDANT                               San Francisco  2011     41512.403571
                                                                               ...
Wharfinger 2                                        San Francisco  2012     61088.977500
                                                                   2013     82932.756667
                                                                   2014     80919.643333
Window Cleaner                                      San Francisco  2012     57213.477778
                                                                   2013     71226.940000
                                                                   2014     70824.755625
Window Cleaner Supervisor                           San Francisco  2012     72006.290000
                                                                   2013     77937.930000
                                                                   2014     77497.030000
Wire Rope Cable Maint Mechanic                      San Francisco  2012     54401.232000
                                                                   2013     72422.530000
                                                                   2014     64844.293000
Wire Rope Cable Maint Sprv                          San Francisco  2012     88634.010000
                                                                   2013     95716.510000
                                                                   2014     93904.720000
Worker's Comp Supervisor 1                          San Francisco  2012     83212.596000
                                                                   2013     73682.390000
                                                                   2014     54505.333333
Worker's Compensation Adjuster                      San Francisco  2012     71214.026522
                                                                   2013     75965.776000
                                                                   2014     69915.985385
X-RAY LABORATORY AIDE                               San Francisco  2011     47664.773077
X-Ray Laboratory Aide                               San Francisco  2012     48086.046452
                                                                   2013     44876.745882
                                                                   2014     45490.340286
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS      San Francisco  2011     52609.910000
Youth Comm Advisor                                  San Francisco  2012     57544.730000
                                                                   2013     33174.840000
                                                                   2014     32417.420000
ZOO CURATOR                                         San Francisco  2011     43148.000000
Name: BasePay, Length: 4137, dtype: float64

** How many unique job titles are there? **

In [17]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [18]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [19]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1) # pretty tricky way to do this...

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [20]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [21]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [22]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [23]:
sal[['title_len','TotalPayBenefits']].corr() # No correlation.

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!